#mapContainer {
	height: 450px;
}

.H_ib_content {
	min-width: 12em;
}

/* Accessible Colors */
.btn-primary {
	background-color: #0056B3;
	border-color: #0056B3;
}

.btn-secondary {
	background-color: #51595d;
	border-color: #51595d;
}

.navbar-light .navbar-nav .nav-link {
	color: #545454; 
}

a:focus, .btn:focus, .form-control:focus {
	outline: 4px solid #0098e5;
	outline-offset: 5px;
}

.form-control:focus {
	background-color: #ffa !important;
}

a:focus {
	text-decoration: underline;
}